.container {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr ;
	/*grid-template-rows: 1fr 5fr 1fr;*/
	grid-template-rows: auto auto 100px; /*header va footer sẽ bị fixed cứng còn nội dung thì tự động dãn*/
    column-gap: 10px;
    row-gap: 10px;
}
.header{
  background-color: aquamarine;
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 20px;
  text-align: center;
}

.sidebar1 {
	background-color: blue;

}


.article {
	background-color: blueviolet;
}

.sidebar2 {
  background-color: brown;
}

.footer {
	background-color: antiquewhite;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

.article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, auto);
}

.sub-article img {
	width: 100%;
  
}